
{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {

    "indent": ["warn", // INDENT USING 2 SPACES
      2
    ],
    "comma-dangle": ["warn", // Don't allow extra commas in arrays.
      "never"
    ],
    "linebreak-style": ["error", // Only LF line breaks.
      "unix"
    ],
    "no-trailing-spaces": "warn", // No useless spaces.
    "quotes": ["warn", // Single quotes whenever possible.
      "single"
    ],
    "comma-spacing": ["warn", { // Use spaces after commas.
        "after": true
    }],
    /* Obvious stuff */
      "no-cond-assign": ["error", // Don't use single "=" in if statements because that assigns stuff.
        "always"
      ],
      "no-dupe-args": "warn", // No dupe argument names in functions/expressions.
      "no-dupe-keys": "warn", // No dupe key names in objects.
      "no-duplicate-case": "warn", // No dupe cases in switch statements.
      "no-extra-boolean-cast": "warn", // Don't make something a boolean if it already is one.
      "no-extra-semi": "warn", // No extra semicolons.
      "no-invalid-regexp": "warn", // Duh.
      "no-irregular-whitespace": "warn", // No useless whitespace.
      "no-sparse-arrays": "warn", // No arrays with empty slots.
      "use-isnan": "error", // Because I forget this too much.
      "dot-notation": "warn", // No useless object["key"], instead just use object.key.
      "no-self-assign": "warn", // Don't do thing = thing.
      "no-useless-escape": "warn", // Don't escape characters that don't need escaping like \n.
      "no-undef": "error", // Duh.
      "no-unused-vars": "warn", // Just a warning if a variable is not used.
      "no-lonely-if": "warn", // Don't use lone if statements in else blocks because you can just use else if.
      "brace-style": ["warn", // See below
        "1tbs"
      ]
      /*
         if {
           thing
         } else {
           thing
         }
      */

  }
}
